<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Hello, ' + ${name} + '!'" />
<h2 th:text="'Selamat, ' + ${ucapan} + '!'" />
</body>
</html>